<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd">
	<display-name>analprobe</display-name>
	<context-param>
		<description>
		Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>

	<servlet>
		<servlet-name>Analprobe UI</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<description>
			Vaadin UI class to use</description>
			<param-name>UI</param-name>
			<param-value>org.vaadin.analprobe.AnalProbeUI</param-value>
		</init-param>
		<init-param>
			<description>UI widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>org.vaadin.analprobe.widgetset.AnalprobeWidgetset</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Analprobe UI</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>Probe Data Collector</servlet-name>
        <servlet-class>org.vaadin.analprobe.ProbeCollector</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Probe Data Collector</servlet-name>
        <url-pattern>/collect/*</url-pattern>
    </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
